@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

.nav {
    color: #a5a5a5;
}

.nav-item {
    padding: 4px 12px;
    align-items: center;
    font-weight: bold;
}

.icon:hover {
    color: 'white'
}

.library {
    justify-content: space-between;
}

li a span {
    padding-left: 1rem;
}